@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(87.47deg, #ecb85b -2.19%, #ff4c00 22.96%, #b57cff 52.3%, #3dd2dd 78.49%, #3ba3ff 98.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(87.47deg, #ecb85b -2.19%, #ff4c00 22.96%, #b57cff 52.3%, #3dd2dd 78.49%, #3ba3ff 98.4%);
}
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bg-image {
  background: url("websiteBackgrond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
